<div class="view-engineers-big-container">
  <div class="view-engineers-title-container">
    <h2>Your Invitations</h2>
  </div>

{{recruiter-conversations deleteConvo='deleteConvo' conversations=model}}

</div>
