
{{#paper-toolbar accent=true}}
<h4>
  These are the invitations you have sent!
  {{#link-to 'recruiter'}} {{#paper-button fab=true}}Back{{/paper-button}}{{/link-to}}
</h4>
{{/paper-toolbar}}
{{recruiter-conversations deleteConvo='deleteConvo' conversations=model}}
