<div class="row">
<div class="col-md-2"> </div>
<div class="col-md-8">
<h3>Here all the lunch invitations you have sent.</h3>
{{#link-to 'recruiter'}}<button class="btn btn-primary">Back</button>{{/link-to}}
{{recruiter-conversations deleteConvo='deleteConvo' conversations=model}}
</div>
<div class="col-md-2"> </div>
</div>
