<div class="view-engineers-big-container">
  <div class="view-engineers-title-container">
    <h2>Your Invitations</h2>
    <div class="paper-right">
      {{#link-to 'recruiter'}} {{#paper-button raised=true}}Back{{/paper-button}}{{/link-to}}
    </div>
  </div>

{{recruiter-conversations deleteConvo='deleteConvo' conversations=model}}

</div>
