<div class="row">
<div class="col-md-2"> </div>
<div class="col-md-8">

{{#link-to 'recruiter'}}<button class="btn btn-primary">Back</button>{{/link-to}}
{{view-engineers engineers=model openMessage='openMessage'}}
</div>
<div class="col-md-2"> </div>
</div>
