<div class="view-engineers-big-container">
  <div class="view-engineers-title-container">
    <h2>Invite an engineer to lunch!</h2>
  </div>
{{view-engineers engineers=model openMessage='openMessage'}}
</div>
