<div class="row">
<div class="col-md-2"> </div>
<div class="col-md-8">
<p>Invite an engineer to lunch! You can send one invite per engineer.</p>

<h4>Click to send a message</h4>
{{#link-to 'recruiter'}}<button class="btn btn-primary">Back</button>{{/link-to}}
{{view-engineers engineers=model openMessage='openMessage'}}
</div>
<div class="col-md-2"> </div>
</div>
