<div class="view-engineers-big-container">
  <div class="view-engineers-title-container">
    <h2>Invite an engineer to lunch!</h2>
    <div class="paper-right">
      {{#link-to 'recruiter'}} {{#paper-button raised=true}}Back{{/paper-button}}{{/link-to}}
    </div>
  </div>

{{view-engineers engineers=model openMessage='openMessage'}}
</div>
