
{{#paper-toolbar accent=true}}
<h4>
  Invite an engineer to lunch!
  {{#link-to 'recruiter'}} {{#paper-button fab=true}}Back{{/paper-button}}{{/link-to}}
</h4>
  {{/paper-toolbar}}
{{view-engineers engineers=model openMessage='openMessage'}}
