<div class="big-container">
  <div class="border-container">
    <h2>Your conversation with {{model.conversation.engineer.name}}.</h2>
    <div class="paper-right">
      {{#paper-button raised=true target="_blank" href=model.conversation.engineer.website}}View their website{{/paper-button}}

      {{#link-to 'recruiter.conversations'}} {{#paper-button raised=true}}Back{{/paper-button}}{{/link-to}}
    </div>
  </div>
  <div id="message-container" class="message-container">
    {{#each model.messages as |message|}}
      {{conversation-box message=message}}
    {{/each}}
  </div>
  {{send-message conversation=model.conversation createMessage='createMessage'}}
</div>
