
{{#link-to 'recruiter.conversations'}}<button class="btn btn-primary">Back</button>{{/link-to}}
<div class="message-container">

      {{#each model.messages as |message|}}
        {{conversation-box message=message}}
      {{/each}}
</div>
  {{message}}
  {{send-message conversation=model.conversation createMessage='createMessage'}}
