<div class="view-engineers-big-container">
  <div class="border-container">
    <h2>Your conversation with {{model.conversation.engineer.name}}.</h2>
    <div class="paper-right">
      {{#link-to 'recruiter'}} {{#paper-button raised=true}}Back{{/paper-button}}{{/link-to}}
    </div>
  </div>
<div id="message-container" class="message-container">

  {{#each model.messages as |message|}}
    {{conversation-box message=message}}
  {{/each}}
</div>

  {{send-message conversation=model.conversation createMessage='createMessage'}}
</div>
