

<div id="message-container" class="message-container">

      {{#each model.messages as |message|}}
        {{conversation-box message=message}}
      {{/each}}

</div>
{{#paper-toolbar accent=true}}
<div class="md-toolbar-tools">
{{#link-to 'recruiter.conversations'}}{{#paper-button fab=true }}Back{{/paper-button}} {{/link-to}}
</div>
 {{/paper-toolbar}}

  {{send-message conversation=model.conversation createMessage='createMessage'}}
