{{#paper-toolbar tall=true accent=true}}
<h4>
  Change your password!

  {{#if isEngineer}}
      {{#link-to 'engineer'}} {{#paper-button fab=true}}Back{{/paper-button}}{{/link-to}}

    {{/if}}
    {{#if isRecruiter}}
      {{#link-to 'recruiter'}}
        {{#paper-button fab=true}}Back{{/paper-button}}
      {{/link-to}}
    {{/if}}
</h4>
{{/paper-toolbar}}

{{#paper-form onSubmit=(action "submit")}}
  {{paper-input
      required=true
      label="Old Password"
      type="password"
      value=passwords.previous
      onChange=(action (mut passwords.previous)) }}
  {{paper-input
      required=true
      label="New Password"
      type="password"
      value=passwords.next
      onChange=(action (mut passwords.next)) }}
  {{#paper-button type='submit'}}Submit{{/paper-button}}
{{/paper-form}}
