{{#paper-card}}
   {{#paper-card-title}}
     {{#paper-card-title-text}}
       <h2>Welcome {{engineer.name}}!</h2>
       <h4>Your website is: <a target="_blank" href="{{engineer.website}}">{{engineer.website}}</a></h4>
     {{/paper-card-title-text}}

   {{/paper-card-title}}
   <div class="md-actions" layout="row" layout-align="end center">
     {{#link-to 'engineer.update-website' engineer}}
      {{#paper-button class="update-button"}}Update Website{{/paper-button}}
     {{/link-to}}
   </div>
 {{/paper-card}}
