<thead>
  <tr>
    <th>Recruiter's User Name</th>
    <th>Recruiter's Website</th>
    <th>Status</th>
  </tr>
</thead>
<tbody>
  {{#each conversations as |conversation|}}
    {{#if conversation.showToEngineer}}
      {{lunch-invites/invite conversation=conversation deleteConvo='deleteConvo'}}
    {{/if}}
  {{/each}}
</tbody>
{{#if conversations}}

{{else}}
<h4>No one has invited you to lunch yet</h4>
{{/if}}
