{{#each conversations as |conversation|}}
  {{lunch-invites/invite conversation=conversation deleteConvo='deleteConvo'}}
{{/each}}

{{#unless conversations}}
  <h4 class="no-messages">You haven't invited anyone to lunch yet or you deleted all the invitations from your inbox.</h4>
{{/unless}}
