{{#if isRecruiter}}
{{#paper-toolbar}}

<div class="md-toolbar-tools">
{{#link-to 'recruiter.engineers'}}{{#paper-button}}View Engineers {{/paper-button}}{{/link-to}}
{{#link-to 'recruiter.conversations'}}{{#paper-button}}View Lunches {{/paper-button}}{{/link-to}}

</div>
{{/paper-toolbar}}

{{/if}}



{{!-- {{#link-to 'recruiter.engineers'}}{{/link-to}}
  <li>{{#link-to 'recruiter.conversations'}}View Lunches{{/link-to}}</li>
{{/if}} --}}





    {{!-- {{navbar-header}} --}}

    {{!-- <div class="collapse navbar-collapse " id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}

          {{#if isRecruiter}}
            <li>{{#link-to 'recruiter.engineers'}}View Engineers{{/link-to}}</li>
            <li>{{#link-to 'recruiter.conversations'}}View Lunches{{/link-to}}</li>
          {{/if}}

          {{#if isEngineer}}
            <li>{{#link-to 'engineer.conversations'}}View Lunch Invites{{/link-to}}</li>

          {{/if}}
        {{/if}}
      </ul>
      <ul>
        {{#if isAuthenticated}}
          <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
          <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
          {{else}}
          <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
          <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul> --}}


{{!-- {{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}  --}}
