<label for="password-confirmation">Password Confirmation</label>
{{input type="password"
        required="true"
        class="form-control"
        id="password-confirmation"
        placeholder="Password Confirmation"
        value=password}}
