<form class="form-group" {{action 'createMessage' on='submit'}}>
  <fieldset>Message must be under 1000 characters.</fieldset>
  {{textarea
    required="true"
    maxlength="1000"
    cols="40"
    rows="6"
    class="form-control"
    value=newMessage.body
    placeholder='Type Message Here'
  }}
  <button type=submit class="btn btn-primary btn-block">Send</button>
</form>
