<h3>Send {{engineer.name}} a message! <br/> View their Website: <a target="_blank" href="{{engineer.website}}">{{engineer.website}}</a></h3>


{{#paper-form onSubmit="createConversation"}}
  <p>Message must be under 750 characters</p>
  {{paper-input
     textarea=true
     block=true
     label="Type message here"
     maxlength=750
     passThru=(hash rows=5 maxRows=5)
     value=newMessage.body
     onChange=(action (mut newMessage.body))
     required=true
   }}

  {{#paper-button type=submit }}Send{{/paper-button}}

{{/paper-form}}
