<div class="invite-container">
  <div class="border-container">
    <h3>Send {{engineer.name}} a message!</h3>
    <div class="paper-right">
      <a target="_blank" href="{{engineer.website}}">{{#paper-button raised=true}}View Website{{/paper-button}}</a>
    </div>
  </div>

  {{#paper-form onSubmit="createConversation"}}
    {{paper-input
      textarea=true
      block=true
      label="Type message here"
      maxlength=750
      passThru=(hash rows=5 maxRows=5)
      value=newMessage.body
      onChange=(action (mut newMessage.body))
      required=true
    }}
    {{#paper-button type=submit }}Send{{/paper-button}}
    {{/paper-form}}
</div>
