<form {{action "submit" on='submit'}}>
  <div class="form-group">
    {{email-input email=credentials.email}}
    {{password-input password=credentials.password}}

    <button type="submit" class="btn btn-primary btn-block">
      Sign In
    </button>

    {{#link-to 'application' }}
      <button class="btn btn-default btn-block" {{action "reset"}}>
        Back
      </button>
      {{/link-to}}
  </div>
</form>
