<select required class="form-control" onchange={{action "setSelection" value="target.value"}}>
 <option value=''> -- Account Type -- </option>
    <option value="recruiter">Recruiter</option>
    <option value="engineer">Engineer</option>
</select>
