@import 'bootstrap';
@import 'bootstrap/theme';
@import 'footer';
@import 'fonts';
@import 'colors';
@import 'layout';

.message-container {
  overflow: scroll;
  height: 500px;
}

pre {
  white-space: pre-wrap;

}
