@import 'ember-paper';

.paper-right {
  margin-left: auto;
}

.yellow {
  background-color:yellow;
}

.yellow {
  background-color:yellow;
}

.blue {
  background-color:blue;
}

.green {
  background-color:green;
}


.gray {
  background-color:gray;
}
