$blue: #267fa8;

.grey {
  background-color: grey;
}
.responded-to {
  background-color: green;
}
.blue{
  background-color: $blue
}

footer{
  background-color: rgba(46, 46, 46, 0.16);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.page-header {
  background-color: rgba(46, 46, 46, 0.16);
  border: 1px solid rgba(0, 0, 0, 0.21);
}
