
.text-center {
  text-align: center;
}

.paper-right {
  margin-left: auto;
}
.md-toolbar-tools h1{
  margin-left: 625px !important;
  font-size: 40px !important;
}

.message-container {
  height: 500px;
  overflow: scroll;
}
