
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.text-center {
  text-align: center;
}

.md-toolbar-tools h1{
  margin: auto !important;
  font-size: 40px !important;
}

.tool-bar-spacer {
  width: 76px;
}

.message-container {
  height: 500px;
  overflow: scroll;
}

md-toolbar {
  align-items: center;
  flex-direction: row !important;
}

md-toolbar .md-button {
  font-size: 20px;
}

md-input-container {
  margin: 0px;
}

.header-title {
  margin: auto;
}

.paper-right {
  margin-left: auto;
}

.title-container {
  display: flex;
  flex-direction: row;
}

.title {
  margin: auto;
  width: 500px;
}

.signup-container {
  display: flex;
}

.signup-form-container {
  display: flex;
  width: 500px;
  padding: 10px;
  margin: auto;
  border: 1px solid rgba(96, 125, 139, 0.13);
  box-shadow: 1px 1px 1px #607d8b;
  border-radius: 3px;
}

md-input-container {
  width: 100%;
}

.view-engineers-container {
  width: 100%;
  height: 600px;
  margin: auto;
  overflow: scroll;

}

.view-engineers-container md-card {
  margin: 1px;
}

.view-engineers-container .md-button {
  color: black;
  border: 2px solid rgba(55, 71, 79, 0.36);
}

.text-center .md-button  {
  color: black;
  border: 2px solid rgba(55, 71, 79, 0.36);
}

.view-engineers-title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
}

.view-engineers-title-container, .message-container {
  border-bottom: 5px solid #3f51b5;
}

.view-engineers-title-container h2 {
  margin-left: 6px;
}

.view-engineers-big-container {
  width: 800px;
  margin:auto;
  margin-top: 40px;
  margin-bottom: 82px;
  border: 1px solid rgba(96, 125, 139, 0.13);
  box-shadow: 1px 1px 1px #607d8b;

}

.toolbar-two {
  width: 100%;
  height: 67px;
  display: flex;
  align-items: center;
  background-color: #B0BEC5;
  box-shadow: 1px 1px 1px #607d8b;
}
