{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}
        You invited {{conversation.engineer.name}} to lunch!
      {{/text.headline}}
    {{/title.text}}
    {{#title.media size="lg" }}
      {{recruiter-conversations/conversation/status conversation=conversation}}
    {{/title.media}}
  {{/card.title}}

  <div class="md-actions" layout-align="center">
    <a target="_blank" href="{{conversation.engineer.website~}}">
      {{#paper-button}}View their website{{/paper-button}}
    </a>
    {{#link-to 'recruiter.view-conversation' conversation.id ~}}
      {{#paper-button}}View invitation{{/paper-button}}
    {{~/link-to}}
    {{#paper-button~}}
      <div {{action 'deleteConvo'}}> Delete </div>
    {{~/paper-button}}

  </div>
{{/paper-card}}
