<td>{{conversation.engineerName}}</td>
{{recruiter-conversations/conversation/status conversation=conversation}}
<td>
  {{#link-to 'recruiter.view-conversation' conversation}}
    <div class="btn btn-primary">View conversation</div>
  {{/link-to}}
</td>
<td>
  <button {{action 'deleteConvo'}} class="btn btn-danger">Delete From Inbox</button>
</td>
