<td>{{conversation.engineerName}}</td>
<td>{{conversation.isCompleted}}</td>
<td>
  {{#link-to 'recruiter.view-conversation' conversation}}
    <div class="btn btn-primary">Invite To Lunch</div>
  {{/link-to}}
</td>
<td>
  <button {{action 'deleteConvo'}} class="btn btn-danger">Delete From Inbox</button>
</td>
