<div class="row">
<div class="col-md-2"> </div>
<div class="col-md-8">
{{#link-to 'engineer'}}<button class="btn btn-primary">Back</button>{{/link-to}}
<p>Here are you all of your lunch invitations!</p>
{{lunch-invites deleteConvo='deleteConvo' conversations=model}}
</div>
<div class="col-md-2"> </div>
</div>
