
<div class="page-header">
   <h1 class="text-center app-header">Free Lunch</h1>
</div>

{{my-application signOut='signOut'}}

{{outlet}}

<div class="row">
<footer class="navbar-fixed-bottom">
</footer>
</div>
