<div class="row landing">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
      <h1 class="text-center">Welcome to Free Lunch.</h1>
    <h4 class="text-center">
     This an app for software engineers to receive free lunches and for recruiters to find talent.
    </h4>
  </div>
  <div class="col-sm-2"></div>
</div>
{{!-- <div class="row">
<footer>
</footer>
</div> --}}
