<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Sign Up</h2>
    <p>
      1. Enter your desired user name, password, and password confirmation. <br/>
      2. Select account type. Are you an engineer or recruiter? <br/>
      3. Enter the URL of your personal website or Linked In profile. <br/>
      4. The URL should began with http:// or https://
    </p>

{{sign-up-form submit="signUp" model=model}}
</div>
<div class="col-md-4"></div>
</div>
